replicaCount: 1

image:
  repository: us-docker.pkg.dev/google-samples/containers/gke/hello-app
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 250m
    memory: 512Mi