apiVersion: v1
kind: Service
metadata:
  name: app-a
  labels:
    app: {{ include "app-a.name" . }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "app-a.name" . }}
  ports:
    - name: http
      port: 80
      targetPort: 80